
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
*{


    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(12, 11, 22);
    overflow:hidden;
  
   
}

.text-container h1{

    color:rgb(192, 230, 240);
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    
}
.text-container h1 span{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing:2px;
}
.text-container .animated-text{

    position: relative;
    background: #445570;
    margin-top: 15px;
    width:320px;
    height:75px;
    box-shadow:  0 0 100px #1f2329,
                 0 0 120px #5d79a8;
                 overflow: hidden;
    }


    .text-container .animated-text:before{
            content:'';
            background:  rgba(40, 45, 156, 0.918);
        
        position:absolute;
        
        width:100%;
        height:100%;
        transform:  skew(25deg) translate(-20px);

        }

        .text-container .animated-text h2{
            color:rgb(232, 241, 241);
            font-size: 25px;
            text-transform: uppercase;
            text-align: center;
            line-height:75px;
        }

        .text-container .animated-text h2:nth-child(1){

            animation: text-move 10s infinite;
        }

        @keyframes text-move{

            0%{

                margin-top: 0;
            }
            10%{

                margin-top: -75px;
            }
            20%{

                margin-top: -150px;
            }
            30%{

                margin-top: -225px;
            }
            40%{

                margin-top: -300px;
            }

            50%{

                margin-top: -375px;
            }

            60%{

                margin-top: -305px;
            }
            50%{

                margin-top: -75px;
            }

            50%{

                margin-top: -75px;
            }


        }
        .text-container{
            -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(189, 99, 99, 0.5));
        }

        .burst{

            position:absolute;
            background-color: aqua;

        }

        .animation-container {
            z-index:999;
            position:absolute;
            width:100vw;
            height:100vh;
     


        }

     
.burst .line{

    position:absolute;
        background: #fff;
        width:12px;
        height: 10px;


}


.burst .line:nth-child(1){

    background: rgb(153, 22, 22);

   
        
    animation: move01 2s linear infinite;
}



@keyframes  move01 {

0%{
    
    transform: translate(0,0);
    opacity:0;


}
50%{
    transform: translate(0,-90px);
    opacity:1;

}
100%{transform: translate(0,-140px);
    opacity:0;

}

}

.burst .line:nth-child(2){

    background: rgb(22, 87, 35);

   
        
    animation: move02 2s linear infinite;
}



@keyframes  move02 {

0%{
    
    transform: rotate(45deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(45deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(45deg) translate(0,-140px);
    opacity:0;

}
}
.burst .line:nth-child(3){

    background: rgb(7, 45, 128);

   
        
    animation: move03 2s linear infinite;
}

@keyframes  move03 {

0%{
    
    transform: rotate(90deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(90deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(90deg) translate(0,-140px);
    opacity:0;

}

}
.burst .line:nth-child(4){

    background: rgb(51, 31, 73);

   
        
    animation: move04 2s linear infinite;
}

@keyframes  move04 {

0%{
    
    transform: rotate(135deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(135deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(135deg) translate(0,-140px);
    opacity:0;

}}
.burst .line:nth-child(5){

    background: rgb(11, 64, 107);

   
        
    animation: move05 2s linear infinite;
}

@keyframes  move05 {

0%{
    
    transform: rotate(180deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(180deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(180deg) translate(0,-140px);
    opacity:0;

}
}

.burst .line:nth-child(6){

    background: rgb(61, 49, 168);

   
        
    animation: move06 2s linear infinite;
}

@keyframes  move06 {

0%{
    
    transform: rotate(220deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(220deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(220deg) translate(0,-140px);
    opacity:0;

}

}

.burst .line:nth-child(7){

    background: rgb(36, 90, 20);

   
        
    animation: move07 2s linear infinite;
}

@keyframes  move07 {

0%{
    
    transform: rotate(260deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(260deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(260deg) translate(0,-140px);
    opacity:0;

}}
.burst .line:nth-child(8){

    background: rgb(165, 34, 110);

   
        
    animation: move08 2s linear infinite;
}

@keyframes  move08 {

0%{
    
    transform: rotate(300deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(300deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(300deg) translate(0,-140px);
    opacity:0;

}

}
.burst .line:nth-child(9){

    background: rgb(165, 34, 110);

   
        
    animation: move09 2s linear infinite;
}

@keyframes  move09 {

0%{
    
    transform: rotate(340deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(340deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(340deg) translate(0,-140px);
    opacity:0;

}

}
.burst .line:nth-child(10){

    background: rgb(165, 34, 110);

   
        
    animation: move10 2s linear infinite;
}

@keyframes  move10 {

0%{
    
    transform: rotate(360deg) translate(0,0);
    opacity:0;


}
50%{
    transform: rotate(360deg) translate(0,-90px);
    opacity:1;

}
100%{
    
    transform: rotate(360deg) translate(0,-140px);
    opacity:0;

}