body{

    margin:0;
    padding:0;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(31, 18, 26);

}

.slider{

    width:800px;
    height:500px;
    border-radius:10px;
    overflow: hidden;
    z-index: 99;

}
.slides{

    width:500%;
    height:500px;
    display:flex;
    
}

.slides input{

display: none;

}

.slide{
    width: 20%;
    transition: 1s;

}

.slide img{
    width: 800px;
    height: 500px;

}

.navigation-manual{

position: absolute;
width:800px;
margin-top:-40px;
display:flex;
justify-content: center;
}

.manual-btn{
border: 2px solid rgb(19, 15, 36);
padding: 5px;
border-radius: 10px;
cursor:pointer;
transition: 1s;

}


.manual-btn:not(:last-child){

    margin-right:40px;

}

.manual-btn:hover{

    background:rgb(158, 102, 214);


}


#radio1:checked~.first{
margin-left: 0;

}
#radio2:checked~.first{
    margin-left: -20%;
    
    }
    #radio3:checked~.first{
        margin-left: -40%;
        
        }

        #radio4:checked~.first{
            margin-left: -60%;
            
            }
            #radio5:checked~.first{
                margin-left: -80%;
                
            }

            .navigation-auto{
                position: absolute;
                display: flex;
                width:800px;
                justify-content: center;
                margin-top: 460px;
                
            }
.navigation-auto div{

    border: 2px solid red;
    padding:5px;
    border-radius: 10px;
    transition: 1s;
    
}

.navigation-auto div:not(:last-child){

    margin-right: 40px;

}

#radio1:checked ~.navigation-auto .auto-btn1{
background: rgb(161, 85, 85);

}


#radio2:checked ~.navigation-auto .auto-btn2{
    background: rgb(26, 175, 76);
    
    }


    #radio3:checked ~.navigation-auto .auto-btn3{
        background: rgb(63, 197, 92);
        
        }

        #radio4:checked ~.navigation-auto .auto-btn4{
            background: rgb(68, 187, 57);
            
            }

            #radio5:checked ~.navigation-auto .auto-btn5{
                background: rgb(59, 194, 33);
                
                }
                