<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to webpage</title>

    <link rel="stylesheet" href="stylelay.css">
    <link rel="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>
<body>

    <div class="row">
                                    <div class="col">
                                        <span></span>
                                    <img src="./img1.png" >

              </div>

            <div class="col">                                                       

                                        <h3>Mount Rushmore</h3>

                                        <p>Founder and CEO </p>
                                    <div class="social-link">
                                        <i class="fa fa-twitter"></i>
                                        <i class="fa fa-facebook"></i>
                                    <i class="fa fa-linkedin"></i>
                                    </div>
    </div>
                                            <div class="col">
                                                <span></span>
                                                <img src="./img2.png" weight="120px" height="120px">
                                                
                                                    </div>

                    <div class="col">
                        <h3>Ozark Mountains</h3>
                        <p>Team Leader </p>
                        <div>
                          
                            <i class="fa fa-facebook"></i>
                
                            <i class="fa fa-twitter"></i>
                
                            
                            <i class="fa fa-linkedin"></i>
                        </div>

                          </div>                       
                                                                         
                                    <div class="col">
                                      
                                                 <img src="./img3.png">
                                                                        </div>

                                                                        <div class="col">
                                                                            <span class="arrow"></span>
                                                                            <h3>Treking Near Mountains</h3>
                                                
                                                                            <p>Founder and CEO </p>
                                                                            <div class="social-link">
                                                
                                                                               <i class="fa fa-twitter"></i>
                                                                                <i class="fa fa-facebook"></i>
                                                                                <i class="fa fa-linkedin"></i>
                                                                            </div>
                                                                        </div>

                   <div class="col">
                                                                                                                                                        
                        <img src="./img4.png">
                                      </div>
                                                                                                            
                                           <div class="col">
                                               <span class="arrow"></span>
                                              <h3>Pleasant Praire</h3>
                                                                                                                                                            
                                                <p>Founder and CEO </p>
                                                     <div class="social-link">
                                                                                                                                                            
                                                        <i class="fa fa-twitter"></i>
                                                          <i class="fa fa-facebook"></i>
                                                           <i class="fa fa-linkedin"></i>
                                                                     </div>
                                                                     </div>     
                                                                                                                            
                                                                

<div class="content">
<div class="force">
<img src="/img1.png" width="120px" height="120px">
<img src="/img2.png" width="180px" height="180px">
<img src="/img3.png" width="120px" height="120px">
<img src="/img4.png" width="120px" height="120px">
<img src="/img5.png" width="180px" height="180px">
<img src="/img6.png" width="180px" height="180px">

</div>

<div class="slide left">

<span class="fa fa-angle-left"></span>

</div>

<div class="slide right">

    <span class="fa fa-angle-right"> </span>
    
    </div>



    
</div>

              
    
</body>
</html>