*{
    
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}




body{
    display:flex;

background: linear-gradient(#9e93b4,#12dfc7);
align-items: center;
min-height: 100vh;
justify-content: center;
padding: 0;
margin: 0;

}
.row{
    background: rgb(81, 164, 197);
    width: 60%;
    margin: 4% auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.col {

    flex-basis: 25%;
    text-align: center;
    overflow: hidden;
    position: relative;

}

.col img{
width: 100%;
cursor: pointer;
transition: 1s;

}

.col p{

margin: 20px 0;

}
.social-link .fa{
width: 25px;
height: 25px;
line-height: 35px;
border: 3px solid rgb(159, 157, 243);
margin: 0 9px;
cursor: pointer;
transition: transform .5s;
}

.social-link .fa:hover{

    background: rgb(235, 153, 153);
    color: rgb(236, 169, 169);
    transform: translateY(-7px);
}
img:hover{

    transform: scale(1.7);

}
.col span{

    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #ffe501;
    position: absolute;
    top: 50%;
 right: 0;
 transform: translateY(-50%);
 z-index: 2;

}
.col .arrow{
    right:unset;
    left: 0;

    border-left: 15px solid #cc5b19;
    border-right: 15px solid transparent;
}
.content{
    height: 400px;
    width: 700px;
  
    text-align: center;
    position: relative;

}

.content .images{

    height: 100%;
    width: 100%;

}

.force img{
    height: ;
    width: ;
}
.content .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid rgb(86, 183, 228);
    height: 45px;
    width: 45px;
cursor: pointer;

background:white;
}

.content .slide:hover{

    background:rgb(134, 199, 243);


}

.slide span{

    font-size: 35px;
    color: rgb(90, 215, 231);
    line-height: 41px;

}

.content .right{

right: 0;
}
@media screen and (max-width: 770px){

    .row{
        width:95%;

    }
}