*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(209, 205, 184, 0.575);
}

div{
text-align: center;
}
div h2{
letter-spacing: 3px;
text-transform: uppercase;

}


div hr{
    margin: 14px 0;

}

div input[type=number] 
{
margin: 8px 0;
padding: 8px;
width:80;
font-size: 16px;
}


div input[type=number]:read-only{

    border: 1px solid rgb(26, 16, 16);
    background-color: rgb(247, 188, 188);
color: #fff;
text-align: center;
font-size: 22px;
font-weight: bold;
}
div button{
margin: 0 4px;
padding: 6px 0;
width: 62px;
border: 1px solid rgb(17, 7, 7);
background-color: rgb(209, 226, 147);
font-size: 16px;
font-weight: bold;
cursor: pointer;


}

div button:hover {
    background-color: rgb(212, 76, 76);

}

div button:focus{
    outline: 2px solid #333;

}